<div class="review-heading" ></div>
              <div *ngIf="reviews.length==0;then noReview else showReview">

              </div>
              <ng-template #noReview>
                <p class="mb-20">{{'review.noReview'|translate}}</p>
              </ng-template>
              <ng-template #showReview>

              </ng-template>
              
              <div *ngFor="let review of reviews">
                  <strong> {{review.username}} </strong>
                  <p> {{review.content}} </p>
              </div>
              <form [formGroup]="reviewForm" class="review-form" (ngSubmit)="saveReview()">
                <div class="form-group">
                  
    
                </div>

                <div class="form-group">
                    <label>{{'review.comment'|translate}}</label>
                    <textarea formControlName="content" class="form-control" rows="10"></textarea>
                </div>

                <div class="row">
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <input formControlName="email" type="text" name="" class="form-control" placeholder="Name*">
                    </div>
                  </div> -->

                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <input  formControlName="description" type="text" name="" class="form-control" placeholder="Email Id*">
                    </div>
                  </div> -->
                  
                </div>
               
                
              </form>
              <div class="row">
                <div class="col-6">
                  <app-rate-book [bookId]="BookId" ></app-rate-book>
                </div>
                <div class="col-6">
                  <button type="submit" [disabled]="!reviewForm.valid" (click)="submitReview()" class="button secondary">{{'review.submitReview'|translate}}</button>
                </div>
              </div>
