<!--
<div class="container main">
  <app-header></app-header>
    <div class="row">
        <div class="col-md-1 menu">
          
          <a class="navicon" ><i class="icon ion-navicon"></i></a>
          <a class="active" [routerLink]="['/profile']" ><i class="icon ion-home"></i></a>
           <a data-menu="users" ><i class="icon ion-person-stalker"></i></a>
          <a data-dialog="logout" ><i class="icon ion-log-out"></i></a>
          <a data-menu="download" ><i class="icon ion-code-download"></i></a>
          <a data-menu="about" ><i class="icon ion-information-circled"></i></a> 
         
          
        </div>
        <div class="col-md-10 content" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left'}">
          <h3 class="back" (click)="backToProfile()">back</h3>
          <h2>{{'profile.detail' |translate}}</h2>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">book</th>
                  <th scope="col">quantity</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orderItems;index as i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{order.book_id}}</td>
                  <td>{{order.quantity}}</td>
                  
                </tr>
              </tbody>
            </table>
           
        </div>

    </div>
    
</div>-->


<app-header></app-header>
<div class="container">
  <div class="drawer">
    <a class="navicon" ><i class="icon ion-navicon"></i></a>
    <div class="menu">
      <a  [routerLink]="['/profile']"  class="active"><i class="icon ion-home"></i></a>
      <!-- <a data-menu="users" ><i class="icon ion-person-stalker"></i></a> -->
       <!-- <a data-dialog="logout" ><i class="icon ion-log-out"></i></a>  -->
       <!-- <a data-menu="download" ><i class="icon ion-code-download"></i></a>  -->
      <!-- <a data-menu="about" ><i class="icon ion-information-circled"></i></a> -->
    </div>
    <span class="credits">uplusion23</span>
  </div>
  <div class="content">
    <div class="page active" data-page="dashboard">
      <div class="header">
        
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">book</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
            <th scope="col">total price</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderItems;index as i">
            <th scope="row">{{i+1}}</th>
            
            <td >
              <div *ngIf="this.apiService.currentDir==ltr;then en else fa"></div>
              <ng-template #fa>{{order.FaBookName}}</ng-template>
              <ng-template #en>{{order.EnBookName}}</ng-template>
            </td>
            <td>{{order.quantity}}</td>
            <td>{{order.single_cost}}</td>
            <td>{{order.total_cost}}</td>
            
          </tr>
        </tbody>
      </table>
     <div class="row total">
       <div class="col-10">total cost </div>
       <div class="col-2">{{factor.TotalCost}} toman</div>
       <div class="col-10">post Cost</div>
       <div class="col-2"> {{factor.postCost}} toman</div>
       <div class="col-10">total Cost with Post cost</div>
       <div class="col-2"> {{factor.TotalCostWithPost}} toman </div>
     </div>
      
    </div>
    
    
  </div>
  <div class="sidebar">

  </div>
  <!-- <div class="dialog">
    <div class="dialog-block">
      <h2>Are you sure you want to logout?</h2>
      <div class="controls">
        <a  class="button">Logout</a>
        <a data-dialog-action="cancel"  class="button">Cancel</a>
      </div>
    </div>
  </div> -->
</div>