


<app-header></app-header>
<div class="container">
  <div class="drawer">
    <a class="navicon" ><i class="icon ion-navicon"></i></a>
    <div class="menu">
      <a  [routerLink]="['/profile']"  class="active"><i class="icon ion-home"></i></a>
      <!-- <a data-menu="users" ><i class="icon ion-person-stalker"></i></a> -->
       <!-- <a data-dialog="logout" ><i class="icon ion-log-out"></i></a>  -->
       <!-- <a data-menu="download" ><i class="icon ion-code-download"></i></a>  -->
      <!-- <a data-menu="about" ><i class="icon ion-information-circled"></i></a> -->
    </div>
    <span class="credits">uplusion23</span>
  </div>
  <div class="content">
    <div class="page active" data-page="dashboard">
      <div class="header">
        
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'profile.book'|translate}}</th>
            <th scope="col">{{'detail.quantity'|translate}}</th>
            <th scope="col">{{'profile.price'|translate}}</th>
            <th scope="col">{{'profile.totalPrice'|translate}}</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderItems;index as i">
            <th scope="row">{{i+1}}</th>
            
            <td >
              <div *ngIf="this.apiService.currentDir==ltr;then en else fa"></div>
              <ng-template #fa>{{order.FaBookName}}</ng-template>
              <ng-template #en>{{order.EnBookName}}</ng-template>
            </td>
            <td>{{order.quantity}}</td>
            <td>{{order.single_cost}}</td>
            <td>{{order.total_cost}}</td>
            
          </tr>
        </tbody>
      </table>
     <div class="row total">
       <div class="col-10"> {{'profile.totalCost'|translate}} </div>
       <div class="col-2">{{factor.TotalCost}} {{'detail.toman'|translate}}</div>
       <div class="col-10">{{'profile.postCost'|translate}}</div>
       <div class="col-2"> {{factor.postCost}} {{'detail.toman'|translate}}</div>
       <div class="col-10">{{'profile.totalPriceWithPost'|translate}}</div>
       <div class="col-2"> {{factor.TotalCostWithPost}} {{'detail.toman'|translate}} </div>
     </div>
      
    </div>
    
    
  </div>
  <div class="sidebar">

  </div>
  <!-- <div class="dialog">
    <div class="dialog-block">
      <h2>Are you sure you want to logout?</h2>
      <div class="controls">
        <a  class="button  small">Logout</a>
        <a data-dialog-action="cancel"  class="button  small">Cancel</a>
      </div>
    </div>
  </div> -->
</div>