<app-header></app-header>
<div class="container main">
    
    <div class="row">
        <div class="col-12 errorbox" *ngIf="result==2">
            <div class="error"> {{'basket.sorry' | translate}}, {{errorMessage}}</div>
        </div>
        <div class=" col-12 col-md-6 col-lg-7 items">
            <div class="row book"  *ngFor="let item of books">
                    <div class="col-1 delete">
                        <div class="x" (click)="deleteThisOrderItem(item.id)">
                            <p>x</p>
                        </div>
                        
                    </div>
                    <div class="col-4 col-md-2 col-lg-2 img ">
                        <img class="image" src="{{item.image}}" alt="">
                    </div>
                    <div class="col-7 col-md-8 content">
                        <div class="row">
                            <div class="col-8 col-lg-9 col-md-9 " [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left'}">
                                {{item.title}}
                                <br>
                                <strong>{{'main.by'|translate}}</strong>  {{item.author}}
                               <br>
                               
                                <br>
                                {{'detail.quantity'|translate}}: {{item.quantity}}
                            
                            </div>
                            <div class="col-4 col-md-3 col-lg-3">
                                {{item.price}}
                            </div>
                        </div>
                        </div>
                
                
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 info">
            
            <div class="discountBox" [ngStyle]="{ 'direction': this.apiService.currentDir === 'rtl'? 'ltr': 'ltr'}">
                <div class="row  ">
                    <p class="discountSec">{{'basket.discountMessage' | translate}}</p>
                    <div class="col-10 discount">
                        <input type="text" class="form-control form-control-sm" id="inputPassword2" placeholder="{{'basket.discount' | translate}}">
                    </div>
                    <div class="col-2 submit">
                        <button class="submitbutton">  {{'basket.submit' | translate}}</button>
                    </div>
                </div>
                
                
            </div>
            <div class="location" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left'}">
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-6 state">
                     <div class="s">
                        {{'basket.chooseState' | translate}}</div>
                        <form action="" [formGroup]="stateForm">
                            <select  class="form-control form-control-sm" formControlName="state">
                                <option>Guilan</option>
                                <option>Fars</option>
                                <option>Hamedan</option>
                            
                            </select>
                        </form>     
                        
                    </div>
                    <div class="col-12 col-md-5 col-lg-6 city">
                        <div class="c"> {{'basket.chooseCity' | translate}}</div>
                        <form action="" [formGroup]="cityForm">
                            <select class="form-control form-control-sm" formControlName="city" >
                                <option>Tehran</option>
                                <option>Shiraz</option>
                                <option>Rasht</option>
                            
                            </select>
                        </form> 
                            
                    </div>
                </div>
                
            </div>
            <div class="totalCost">
                
                <div class="row">
                    <!-- <div class="col-12 continue" >
                        <button (click)="continue()" [disabled]="!cityForm.valid || !stateForm.valid " class="button small"> {{'basket.payAndContinue' | translate}}</button>
                    </div> -->
                    <div class="col-12 continue" (click)="continue()" [ngClass]="{'disableDiv': !cityForm.valid || !stateForm.valid}">
                         {{'basket.payAndContinue' | translate }}
                    </div>
                    <div class="col-12 TCost">
                        {{'basket.totalCost' | translate}}
                        <p>{{totalCost}} {{'detail.toman'|translate}}</p>
                    </div>
                </div>
            </div>
            <p class="alert alert-danger" *ngIf="cityForm.controls['city'].hasError('required') ">
                {{'basket.cityError' | translate}}
              </p>
              <p class="alert alert-danger" *ngIf="stateForm.controls['state'].hasError('required') ">
                {{'basket.stateError' | translate}}
              </p>
        </div>
    </div>
</div>
