<app-header></app-header>
<div class="book-store">

       
    <div class="main-wrapper">
    
     <div class="popular-books">
      <div class="main-menu">
       <div class="genre">{{'header.publishers'|translate}}</div>
       <div class="book-types">
        <!-- <a (click)="getAllAuthors()" class="book-type active"> All Genres</a>
        <a (click)="getGenreAuthors(genre.id)" class="book-type" *ngFor="let genre of genres" > {{genre.name}}</a> -->
       
       </div>

      </div>
      <div class="container" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left'}">
          <div class="row">
              <div class="col-3" *ngFor="let publisher of publishers">
                <div class="author" >
        
                    <img (click)="seeBooks(publisher.id)" src="../../../assets/images/publishers.png" alt="" class="author-img">
                    
                  
                 <div
                 [ngStyle]="{ 'padding-right': this.apiService.currentDir === 'rtl'? '50px': '0','padding-left': this.apiService.currentDir === 'rtl'? '0': '25px'}" class="author-name">{{publisher.name}} </div>
                <div  class="seebook"  [ngStyle]="{ 'padding-right': this.apiService.currentDir === 'rtl'? '20px': '0','padding-left': this.apiService.currentDir === 'rtl'? '0': '10px'}" >
                    <button [routerLink]="['/publishersBook',publisher.id]" class="button secondary small">{{'author.seebooks'|translate}}</button>
                </div>
                 
                </div>
              </div>
          </div>
      </div>
      
     </div>
    </div>
   </div>

