<app-header></app-header>
<div class="container main">
    
    
    <form [formGroup]="addressForm">
        <div class="form-group">
          <label for="exampleFormControlInput1">first name</label>
          <input formControlName="first_name" type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">last name</label>
            <input formControlName="last_name" type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">addressh name </label>
            <input formControlName="address_name" type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">addressh with house number</label>
            <input formControlName="detail" type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">postal code</label>
            <input formControlName="postalCode" type="email" class="form-control" id="exampleFormControlInput1" placeholder="7185773737">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">phone number</label>
            <input formControlName="phoneNumber" type="email" class="form-control" id="exampleFormControlInput1" placeholder="09111234567">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">static number</label>
            <input formControlName="staticNumber" type="email" class="form-control" id="exampleFormControlInput1" placeholder="09111234567">
          </div>
          <div class="group">
            <!-- <button type="submit"  (click)="go()"  class="button" value="submit">submit</button> -->
            <button type="submit" [disabled]="!addressForm.valid" (click)="go()"  class="button" value="submit">submit</button>
        </div>
      </form>
    
</div>