@import "./customer-profile.component.css";
h3{
    color:white;
}
.title{
    color: white;
}
tr{
   cursor:grab !important; 
}
.alert{
    border-radius: 0;
}
.container{
    max-width: 1200px;
    padding-top: 75px;
}
.info{
    display: block !important;
    color: white;
}
hr{
    background-color: white;
    color: white !important;
}
.table, th{
    text-align: center !important;
}
.buttons{
    padding: 5px;
}
.drawer{
    padding-bottom: 200px;
}