<app-header></app-header>
<div class="container">
  <div class="drawer">
    <a class="navicon" ><i class="icon ion-navicon"></i></a>
    <div class="menu">
      <a data-menu="dashboard"  class="active"><i class="icon ion-home"></i></a>
      <a data-menu="users" ><i class="icon ion-person-stalker"></i></a>
      <!-- <a data-dialog="logout" ><i class="icon ion-log-out"></i></a> -->
      <!-- <a data-menu="download" ><i class="icon ion-code-download"></i></a> -->
      <a data-menu="about" ><i class="icon ion-information-circled"></i></a>
    </div>
    
  </div>
  <div class="content">
    <div class="page active" data-page="dashboard">
      <div class="header">
        <div class="title"  >
          <!-- <h2>my details</h2> -->
        </div>
      </div>
      <div class="grid info" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left'}">
       <h3>{{'profile.specification' |translate}} </h3>
       <hr>
       <p>{{'profile.firstName' | translate }}: {{profile.first_name}} </p>
        <p>{{'profile.lastName' | translate }}:  {{profile.last_name}} </p>
        
      </div>
      
    </div>
    <div class="page noflex" data-page="users">
      <div class="header">
        <div class="title" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left'}" >
          <h2>{{'profile.orders' |translate}}</h2>
          
        </div>
      </div>
      <table class="table"[ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left'}" >
            
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"> {{'profile.factorCode' |translate}}</th>
            <th scope="col"> {{'profile.date' |translate}}</th>
            <th scope="col"> {{'profile.payment' |translate}}</th>
            <th scope="col"> {{'profile.totalCost' |translate}}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="factors">
          <tr *ngFor="let factor of factors;index as i" (click)="showOrderDetail(factor.code)" >
            <th scope="row" >{{i+1}}</th>
            <td>{{factor.code}}</td>
            <td>{{factor.createDate}}</td>
            <td>
              <div *ngIf=" factor.successfulPayment == true;then paid else notPaid"></div> 
              <ng-template #paid> {{'profile.successfull' |translate}}</ng-template>
              <ng-template #notPaid>{{'profile.unsuccessfull' |translate}}</ng-template>
              </td>
            <td>{{factor.TotalCostWithPost}}</td>
            <td>
              <div class="buttons"><button class="button  small"> {{'profile.pay' |translate}}</button></div>
              
              <div class="buttons"><button class="button alert tiny "> {{'profile.delete' |translate}}</button></div>
              </td>
          </tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="page noflex" data-page="download">
      <div class="header">
        <div class="title">
          <h2>my addresses</h2>
        </div>
      </div>
      <div class="grid">
        <div class="card wide">
          <div class="head">
            <span class="icon">
              <i class="icon ion-code-working"></i>
            </span>
            <span class="stat">
              Cheat Client
            </span>
            <div class="status">
            </div>
          </div>
          <div class="body">
            <h2>Latest Version: v$_VERSION</h2>
            <p>
              changelog here
            </p>
          </div>
          <div class="footer">
            <div class="user">
              <div class="user-icon">
              </div>
              <span class="username">
                Administrator 
              </span>
            </div>
            <a class="download" href="#">Download <i class="icon ion-archive"></i></a>
          </div>
        </div>
      </div>
    </div> -->
    <div class="page noflex" data-page="about" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left'}">
      <div class="header">
        <div class="title">
          <h2> {{'profile.myAddress' |translate}}</h2>
        </div>
      </div>
      <div class="info-container">
        
        <div class="row">
          <div class="col-12">
            <table class="table table-sm table-hover">
            
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"> {{'profile.addressName' |translate}}</th>
                  <th scope="col"> {{'profile.address' |translate}}</th>
                  <th scope="col"> {{'address.city' |translate}}</th>
                  <th scope="col"> {{'address.state' |translate}}</th>
                  <th scope="col"> {{'address.postalCode' |translate}}</th>
                  <th scope="col"> {{'address.phoneNumber' |translate}}</th>
                  <th scope="col"> </th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let addr of address;index as i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{addr.name}}</td>
                  <td>{{addr.detail}}</td>
                  <td>{{addr.city}}</td>
                  <td>{{addr.state}}</td>
                  <td>{{addr.postalCode}}</td>
                  <td>{{addr.phoneNumber}}</td>
                  <td>
                    <div class="buttons"><button class="button  small"> {{'chooseAddress.change' |translate}}</button></div>
                    
                    <div class="buttons"><button class="button alert tiny "> {{'profile.delete' |translate}}</button></div>
                    </td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar">

  </div>
  <!-- <div class="dialog">
    <div class="dialog-block">
      <h2>Are you sure you want to logout?</h2>
      <div class="controls">
        <a  class="button  small">Logout</a>
        <a data-dialog-action="cancel"  class="button  small">Cancel</a>
      </div>
    </div>
  </div> -->
</div>