<app-header></app-header>
<div class="container main" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left'}">
    <div class="chooseAddress">
        
        <div class="row justify-content-center choose" [ngStyle]="{ 'direction': this.apiService.currentDir === 'rtl'? 'rtl': 'ltr'}">
            <div class="col-3 align-self-center">
                <form #f="ngForm" >
                    <select  name="ads" ngModel>
                        <option value="" disabled> {{'chooseAddress.chAdd'| translate}} </option>
                        <option [ngValue]="ads" *ngFor="let ads of address" > {{ads.name}}  </option>
            
                   
                  </select>
                </form>
                
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-8">

            <p>{{'chooseAddress.name'| translate}}: {{f.value['ads'].name}}</p>
            <p>{{'chooseAddress.address'| translate}}: {{f.value['ads'].detail}}</p>
            <p>{{'chooseAddress.postalCode'| translate}}: {{f.value['ads'].postalCode}}</p>
            <p>{{'chooseAddress.phoneNumber'| translate}}: {{f.value['ads'].phoneNumber}}</p>
        </div>
        <div class="col-4 buttons">
            <!-- <div class="changeAddress">
                <button (click)="changeAddress( {{ads.id}})" class="button alert small">{{'chooseAddress.change'| translate}}</button>
            </div> -->
           <div class="addNewAddress">
               <button (click)="newAddress()" class="button  small">{{'chooseAddress.addNew'| translate}}</button>
           </div>
           <div class="addNewAddress">
            <button class="button success small" [disabled]="!f.value['ads']" (click)="send()">{{'chooseAddress.continue'| translate}}</button>
        </div>
        </div>
    </div>

</div>
<div class="container shipment">
    <div class="row">
        <div class="col-4">
           
        </div>
    </div>
</div>
