<app-header></app-header>
<div class="container main" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left'}">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 timing">
            <div  class="step">
                <div class="firstStep">1</div>
            </div>
            
            <div class="deliverToPost">
               <h4> {{'payAndSend.timeOfDelivering' | translate}}</h4>
                <hr>
                <div class="form-check">
                    <form [formGroup]="shippingDateForm" action="">
                        <div class="form-check">
                            <input formControlName="date" class="form-check-input" type="radio" name="date" id="xexampleRadios1" value="{{firstValue}}" checked>
                            <div *ngIf="this.apiService.currentDir=='rtl';then fa else en"></div>
                            <ng-template #fa>
                                <label class="form-check-label" for="xexampleRadios1">
                                    {{firstj}}
                                 </label>
                            </ng-template>
                            <ng-template #en>
                                <label class="form-check-label" for="xexampleRadios1">
                                    {{first}}
                                 </label>
                            </ng-template>
                            
                          </div>
                          <div class="form-check">
                            <input formControlName="date" class="form-check-input" type="radio" name="date" id="xexampleRadios2" value="{{secondValue}}">
                            <div *ngIf="this.apiService.currentDir=='rtl';then fas else ens"></div>
                            <ng-template #fas>
                                <label class="form-check-label" for="xexampleRadios1">
                                    {{secondj}}
                                 </label>
                            </ng-template>
                            <ng-template #ens>
                                <label class="form-check-label" for="xexampleRadios1">
                                    {{second}}
                                    
                                 </label>
                            </ng-template>
                          </div>
                    </form>
                  </div>
                  
                <p>{{'payAndSend.willDeliver' | translate}}</p>

            </div>
            <div class="bill">
                <div class="row">
                    <div class="col-8 method">{{'payAndSend.method' | translate}}</div>
                    <div class="col-4 cost">{{'payAndSend.shippingCost' | translate}}</div>
                    <div class="col-8">
                        <div class="form-check">
                            <form [formGroup]="shippingMethodForm" action="">
                                <div class="form-check">
                                    <input formControlName="name" class="form-check-input" type="radio" name="name"  value="75000" >
                                    <label class="form-check-label" >
                                        {{'payAndSend.certifiedMail' | translate}}
                                    </label>
                                </div>
                                  <div class="form-check">
                                    <input formControlName="name" class="form-check-input" type="radio" name="name"  value="85000" checked>
                                    <label class="form-check-label" >
                                        {{'payAndSend.expressMail' | translate}}
                                    </label>
                                  </div>
                            </form>
                        
                      </div>
                      

                    </div>
                    <div class="col-4">
                        <div>75000 {{'detail.toman' |translate}}</div>
                        <div>85000 {{'detail.toman' |translate}}</div>
                    </div>
                    
                    
                </div>
                <div class="row total">
                    <div class="col-8 totalCost">
                        {{'payAndSend.totalCostPlus' | translate}}
                    </div>
                    <div class="col-4 finalCost">
                        {{totalCost}} {{'detail.toman' |translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-5 col-12  pay">
            <div  class="step">
                <div class="secondStep">
                    2
                </div>
            </div>
            <div class="row align-items-center  justify-content-center gateway">
               
                <div class="col-9 align-self-center " >
                    
                    <button (click)="pay()" class="button expand" [disabled]="!shippingDateForm.valid || !shippingMethodForm.valid "> {{'payAndSend.payWith' | translate}}</button>
                </div>
            </div>
            
        </div>
    </div>
   
</div>
