<!-- <p>book-details works!</p>
<p>{{id}}</p>
<p>{{book.title}}</p> -->

<app-header ></app-header>

<div class="main" *ngIf="book">
  <div class="pd-wrap">
    <div class="container">
          <div class="heading-section">
              <h2></h2>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div id="slider" class="">
                <div class="item">
                    <img class="book-detail-img" src="{{book.image}}" />
                </div>
              </div>
            </div>

            <div class="col-md-6" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left','': this.apiService.currentDir === 'rtl'? '': ''}">
              <div class="product-dtl">
                <div class="product-info" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left','': this.apiService.currentDir === 'rtl'? '': ''}">
                  <div class="product-name"> {{book.title}} </div>
                  <div class="rate" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left','': this.apiService.currentDir === 'rtl'? '': ''}">
                    <fa-icon [icon]="faStar" [ngClass]="{'orange':book.avg_ratings>=1}"></fa-icon>
                    <fa-icon [icon]="faStar" [ngClass]="{'orange':book.avg_ratings>=2}"></fa-icon>
                    <fa-icon [icon]="faStar" [ngClass]="{'orange':book.avg_ratings>=3}"></fa-icon>
                    <fa-icon [icon]="faStar" [ngClass]="{'orange':book.avg_ratings>=4}"></fa-icon>
                    <fa-icon [icon]="faStar" [ngClass]="{'orange':book.avg_ratings>=5}"></fa-icon>
                </div>
                  <div class="reviews-counter" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left','': this.apiService.currentDir === 'rtl'? '': ''}">
                   
                <!-- <span>{{book.no_of_ratings}}Reviews</span>
                <span>{{book.avg_ratings}} average Reviews</span> -->
              </div>
                  <div class="product-price-discount"><span>{{book.price}} {{'detail.toman' |translate}} </span><span class="line-through"></span></div>
                </div>
                <p>  </p>
                
                <div class="product-count">
                  <div class="row">
                    <div class="col-2">
                      <label for="size">{{'detail.quantity'|translate}}</label>
                  <form action="#" [formGroup]="quantityForm" class="display-flex">
                    <div class="">
                      <button class="button  small" (click)="minus($event)">-</button>
                    </div>
                    <input class="form-control form-control-sm" type="text" name="quantity" formControlName="quantity" [(ngModel)]="quantity" >
                    <div class=""> <button class="button  small" (click)="plus($event)">+</button></div>
                  </form>
                    </div>
                  </div>
                  
                  <button (click)="add(book)" class="round-black-btn">{{'detail.addToCart'|translate}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-info-tabs" [ngStyle]="{ 'text-align': this.apiService.currentDir === 'rtl'? 'right': 'left','': this.apiService.currentDir === 'rtl'? '': ''}">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">{{'review.description'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">{{'review.reviews'|translate}} ({{reviewLen}})</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
              {{book.summary}}
            </div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
              <app-review-form [BookId]="this.id"></app-review-form>
            </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
